@model IEnumerable<BookAnAppointment>
@* @model IEnumerable<Diagnosis>
 *@
@{
    ViewData["Title"] = "Lab Profile";
}

<h2>Diagnosis Requests</h2>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Appointment Id</th>
            <th>Patient Id</th>
            <th>Patient Name</th>
            <th>Doctor Id</th>
            <th>Date</th>
            <th>Refered By Dr.</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var diagnosis in Model)
        {
            <tr>
                <td>@diagnosis.Id</td>
                <td>@diagnosis.PatientId</td>
                <td>@diagnosis.Patient.Name</td>
                <td>@diagnosis.DoctorId</td>
                <td>@diagnosis.Date</td>
                <td>@diagnosis.Doctor.Name</td>
                <td>
                    <a class="btn btn-success" asp-area="Labotratorist" asp-controller="Lab" asp-action="GenerateReport" asp-route-id="@diagnosis.Id">Generate Report</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@* @model List<Diagnosis>

<h1>Diagnoses Referred by Doctor for Appointment</h1>

@foreach (var diagnosis in Model)
{
    <div>
        <h4>Diagnosis ID: @diagnosis.Id</h4>
        <p>Patient: @diagnosis.Patient.Name</p>
        <p>Doctor: @diagnosis.Doctor.Name</p>
        <!-- Display other diagnosis details as needed -->
        <hr />
    </div>
}
 *@